<div class="container">

  <!-- HEADER -->
  <div class="topbar">
    <div>
      <h2>Gestion des matériels</h2>
      <p>Ajoutez, modifiez et supprimez les équipements</p>
    </div>

    <button class="toggle-btn" (click)="toggleList()">
      {{ showList ? 'Masquer la liste' : 'Afficher la liste' }}
    </button>
  </div>

  <!-- FORMULAIRE AJOUT -->
  <div class="create-card">

    <div class="card-title">
      <h3>Ajouter un matériel</h3>
      <span>Nouveau matériel</span>
    </div>

    <form [formGroup]="form" (ngSubmit)="submitCreate()">

      <div class="grid">

        <div class="field">
          <label>Numéro de série</label>
          <input type="text" formControlName="serialNumber" placeholder="Ex : SN-2026-001" />
        </div>

        <div class="field">
          <label>Date mise en service</label>
          <input type="date" formControlName="dateMiseEnService" />
        </div>

        <div class="field">
          <label>Date fin garantie</label>
          <input type="date" formControlName="dateFinGarantie" />
        </div>

      </div>

      <div class="actions">
        <button type="submit" class="add-btn" [disabled]="form.invalid">
          Ajouter le matériel
        </button>
      </div>

    </form>
  </div>

  <!-- TABLEAU -->
  <div class="table-card" *ngIf="showList">

    <table>
      <thead>
        <tr>
          <th>Serial</th>
          <th>Mise en service</th>
          <th>Fin garantie</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let m of materiels">
          <td>{{ m.serialNumber }}</td>
          <td>{{ m.dateMiseEnService }}</td>
          <td>{{ m.dateFinGarantie }}</td>

          <td class="btns">
            <button class="edit" (click)="openEditModal(m)">Modifier</button>
            <button class="delete" (click)="delete(m.id!)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <!-- MODAL MODIFICATION -->
  <div class="modal" *ngIf="showModal">

    <div class="modal-box">

      <h3>Modifier le matériel</h3>

      <form [formGroup]="form" (ngSubmit)="submitEdit()">

        <div class="field">
          <label>Numéro de série</label>
          <input type="text" formControlName="serialNumber" />
        </div>

        <div class="field">
          <label>Date mise en service</label>
          <input type="date" formControlName="dateMiseEnService" />
        </div>

        <div class="field">
          <label>Date fin garantie</label>
          <input type="date" formControlName="dateFinGarantie" />
        </div>

        <div class="modal-actions">
          <button type="submit" class="save">Enregistrer</button>
          <button type="button" class="cancel" (click)="closeModal()">
            Annuler
          </button>
        </div>

      </form>

    </div>

  </div>

</div>
